@charset "UTF-8";
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  background: #8360c3;
  background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);
  background: linear-gradient(to right, #2ebf91, #8360c3); }

/*animación*/
iframe,
form {
  animation-name: animar;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: .1s;
  animation-iteration-count: 1; }

@keyframes animar {
  0% {
    transform: translateY(-100px); }
  100% {
    transform: translateY(0px); } }

/* MOBILE FIRST */
/*HEADER DE LAS PÁGINAS*/
/*transiciones*/
header a:hover {
  transform: scale(1.1);
  transition: all .2s ease; }

header img:hover {
  transform: scale(1.2);
  transition: all .3s ease; }

/* FOOTER DE LAS PÁGINAS */
.redondeo {
  border-top-left-radius: 100%;
  border-top-right-radius: 100%; }

/*transiciones*/
footer img:hover {
  transform: scale(1.1);
  transition: all .2s ease; }

footer section ul .pie:hover {
  transform: scale(1.2);
  transition: all .3s ease; }

@media screen and (min-width: 992px) {
  footer #footersectionDos div div {
    width: 70%; }
    footer #footersectionDos div div p {
      text-align: center;
      width: 50%; } }

/* CONTENIDO PRINCIPAL DE INDEX.HTML */
/* configurando slider */
#imagenesSlider img {
  height: 60vh; }

#imagenesSlider h5 {
  font-size: 2em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #81c7b2; }

/* ajustando video, imágenes y h2 */
#segundoSection h2 {
  font-family: serif;
  font-size: 3em;
  text-align: center;
  margin-top: 5px;
  color: #f12711; }

#segundoSection iframe, #segundoSection p {
  border-radius: 10%;
  width: 100%; }

@media screen and (min-width: 992px) {
  #segundoSection iframe, #segundoSection p {
    width: 45%; }
  #segundoSection h2 {
    font-family: serif;
    font-size: 5em; } }

/* ajustando imagen y texto */
#tercerSection img {
  width: 90%;
  border-radius: 20%;
  margin: auto;
  height: 40vh; }

@media screen and (min-width: 992px) {
  #tercerSection img {
    width: 45%; }
  #tercerSection div {
    width: 45%; } }

/* CONTENIDO PRINCIPAL INFORMACION.HTML */
/* ajustando video e imágenes */
#infomain h2 {
  font-family: serif;
  font-size: 3em;
  text-align: center;
  margin-top: 5px;
  color: #f12711; }

@media screen and (min-width: 992px) {
  #infomain h2 {
    font-size: 5em; } }

#infomain iframe {
  border-radius: 5%;
  width: 100%;
  height: 50vh; }

#infomain img {
  height: 40%; }

/* CONTENIDO PRINCIPAL NOSOTROS.HTML  */
/* modificando h2 */
#nosmain {
  display: grid;
  grid-template-areas: "titulo" "contenido1" "contenido2" "contenido3" "aside"; }
  #nosmain img {
    width: 90%;
    border-radius: 50%; }
  #nosmain h2 {
    font-family: serif;
    font-size: 3em;
    text-align: center;
    margin-top: 5px;
    color: #f12711;
    grid-area: titulo; }
  #nosmain .empSectUno {
    grid-area: contenido1; }
  #nosmain .empSectDos {
    grid-area: contenido2; }
  #nosmain .empSectTres {
    grid-area: contenido3;
    border-bottom: solid 1px black;
    padding-bottom: 30px; }
  #nosmain aside {
    grid-area: aside; }
    #nosmain aside img {
      margin: auto;
      border-radius: 10%;
      width: 90%;
      height: 35vh; }
  @media screen and (min-width: 992px) {
    #nosmain {
      grid-template-areas: "titulo titulo" "contenido1 aside" "contenido2 aside" "contenido3 aside";
      grid-template-columns: 59% 40%; }
      #nosmain img {
        width: 50%;
        border-radius: 50%; }
      #nosmain h2 {
        font-size: 5em;
        grid-area: titulo; }
      #nosmain .empSectUno {
        grid-area: contenido1; }
        #nosmain .empSectUno p {
          width: 85%; }
      #nosmain .empSectDos {
        grid-area: contenido2; }
        #nosmain .empSectDos p {
          width: 100%; }
      #nosmain .empSectTres {
        grid-area: contenido3;
        border-bottom: none;
        padding-bottom: 0; }
        #nosmain .empSectTres p {
          width: 85%; }
      #nosmain aside {
        grid-area: aside;
        border-left: solid 1px black; }
        #nosmain aside img {
          margin: 0;
          height: 25vh; } }

/* CONTENIDO PRINCIPAL PREGUNTAS.HTML */
/* modificando h2 */
#premain {
  width: 80vw; }
  #premain h2 {
    font-family: serif;
    font-size: 3em;
    text-align: center;
    margin-top: 5px;
    color: #f12711; }
  #premain #sectionpre {
    display: flex;
    flex-direction: column; }
    #premain #sectionpre label {
      background-color: rgba(102, 51, 153, 0.473);
      width: 100%;
      margin: auto; }
    #premain #sectionpre input {
      width: 100%;
      margin: auto; }
    #premain #sectionpre textarea {
      padding: 5px 10px;
      width: 100%;
      height: 100px;
      margin: auto; }
    #premain #sectionpre #botonpre {
      width: 100%;
      margin: auto; }
  @media screen and (min-width: 992px) {
    #premain {
      width: 50vw; }
      #premain h2 {
        font-size: 5em; }
      #premain label {
        background-color: rgba(102, 51, 153, 0.473);
        width: 500px; }
      #premain input {
        width: 500px; }
      #premain textarea {
        padding: 20px;
        width: 500px;
        height: 100px; }
      #premain #botonpre {
        width: 500px; } }

/* CONTENIDO PRINCIPAL OPINIONES.HTML */
#opimain h2 {
  font-family: serif;
  font-size: 3em;
  text-align: center;
  margin-top: 5px;
  color: #f12711; }

#opimain #mainopi {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px; }
  #opimain #mainopi .opiUno {
    width: 100%;
    height: 25vh; }
    #opimain #mainopi .opiUno img {
      width: 100%;
      height: 100%;
      border-radius: 3%; }
  #opimain #mainopi .opiDos {
    width: 100%;
    height: 25vh; }
    #opimain #mainopi .opiDos img {
      width: 100%;
      height: 100%;
      border-radius: 5%; }
  #opimain #mainopi .imagenOpiUno {
    grid-column: 1/-1; }
  #opimain #mainopi .imagenOpiDos {
    grid-column: 1/-1; }
  #opimain #mainopi .imagenOpiTres {
    grid-column: 1/-1; }
  #opimain #mainopi .imagenOpiCinco {
    grid-row: 7;
    grid-column: 1/-1; }
  #opimain #mainopi .animacionPrimera {
    animation-name: animandoimagenes;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease; }
  #opimain #mainopi .animacionSegunda {
    animation-name: animandoimagenes2;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease; }

@keyframes animandoimagenes {
  0% {
    transform: translateX(-100px); }
  100% {
    transform: translateX(0); } }

@keyframes animandoimagenes2 {
  0% {
    transform: translateX(100px); }
  100% {
    transform: translateX(0); } }

#opimain #articleopi {
  display: flex;
  flex-direction: column; }
  #opimain #articleopi label {
    background-color: rgba(102, 51, 153, 0.473);
    width: 100%;
    margin: auto; }
  #opimain #articleopi input {
    width: 100%;
    margin: auto; }
  #opimain #articleopi textarea {
    padding: 5px 10px;
    width: 100%;
    height: 100px;
    margin: auto; }
  #opimain #articleopi #botonopi {
    width: 100%;
    margin: auto; }

@media screen and (min-width: 992px) {
  #opimain h2 {
    font-size: 5em; }
  #opimain #mainopi {
    grid-template-columns: 1fr 1fr 1fr; }
    #opimain #mainopi .opiDos {
      width: 100%;
      height: 25vh; }
      #opimain #mainopi .opiDos img {
        width: 100%;
        height: 100%;
        border-radius: 5%; }
    #opimain #mainopi .imagenOpiUno {
      grid-column: 1/3; }
    #opimain #mainopi .imagenOpiDos {
      grid-column: 2/4; }
    #opimain #mainopi .imagenOpiTres {
      grid-column: 1/3; }
    #opimain #mainopi .imagenOpiCuatro {
      grid-column: 3;
      grid-row: 3; }
    #opimain #mainopi .imagenOpiCinco {
      grid-column: 2/4; }
  #opimain #articleopi label {
    width: 500px; }
  #opimain #articleopi input {
    width: 500px; }
  #opimain #articleopi textarea {
    padding: 20px;
    width: 500px;
    height: 100px; }
  #opimain #articleopi #botonopi {
    width: 500px; } }
