/* CONTENIDO PRINCIPAL INFORMACION.HTML */

/* ajustando video e imágenes */
#infomain {
    h2{
        font-family: serif;
        font-size: $mediaUno;
        text-align: center;
        margin-top: 5px;
        color: #f12711;
    }
        @media screen and (min-width: $resolucion){
            h2{
                font-size: $medidaDos;
            }
        }
    iframe{
        border-radius: 5%;
        width: 100%;
        height: 50vh;
    }
    img{
        height: 40%;
    }
}
