/* CONTENIDO PRINCIPAL NOSOTROS.HTML  */
/* modificando h2 */
#nosmain {
    display: grid;
        grid-template-areas:
            "titulo"
            "contenido1"
            "contenido2"
            "contenido3"
            "aside"
        ;
        img{
            width: 90%;
            border-radius: 50%;
        }

        h2{
            font-family: serif;
            font-size: 3em;
            text-align: center;
            margin-top: 5px;
            color: #f12711;

            grid-area: titulo;
        }

        .empSectUno{
            grid-area: contenido1;
        }

        .empSectDos {
            grid-area: contenido2;
        }

        .empSectTres {
            grid-area: contenido3;
            border-bottom: solid 1px black;
            padding-bottom: 30px;
        }

        aside{
            grid-area: aside;
            img {
                    margin: auto;
                    border-radius: 10%;
                    width: 90%;
                    height: 35vh;
                }
        }
                @media screen and (min-width: $resolucion){
                    grid-template-areas:
                            "titulo titulo"
                            "contenido1 aside"
                            "contenido2 aside"
                            "contenido3 aside"
                        ;
                    grid-template-columns: 59% 40%;

                    img{
                        width: 50%;
                        border-radius: 50%;
                    }

                    h2{
                        font-size: 5em;
                        grid-area: titulo;
                    }

                    .empSectUno {
                        grid-area: contenido1;
                        p{
                            width: 85%;
                        }
                    }

                    .empSectDos {
                        grid-area: contenido2;
                        p{
                            width: 100%;
                        }
                    }

                    .empSectTres {
                        grid-area: contenido3;
                        border-bottom: none;
                        padding-bottom: 0;
                        p{
                            width: 85%;
                        }
                    }

                    aside{
                        grid-area: aside;
                        border-left: solid 1px black;
                        img{
                            margin: 0;
                            height: 25vh;
                        }
                    }
                }
}
