//variables
$resolucion: 992px;
$mediaUno: 3em;
$medidaDos: 5em;
$colorUno: #58bb2a80;
$colorDos: #bb2a3680;
$colorTres: #992abb80;
$colorCuatro: #00000080;
$colorCinco: #5ce227b9;
$colorCheck: rgba(38, 198, 209, 0.726);